[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "==0.12.2"
awsebcli = "*"
click = "==6.7"
itsdangerous = "==0.24"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.14.1"


[dev-packages]



[requires]

python_version = "3.6"
