[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.12.2"
awsebcli = "*"
click = "==6.7"
itsdangerous = "*"
"jinja2" = "==2.10"
markupsafe = "==1.0"
werkzeug = "==0.14.1"
"boto3" = "*"
flask-mail = "*"
botocore = "*"
"httplib2" = "*"
flask-oauth = "*"
flask-oauthlib = "*"
"oauth2" = "*"


[dev-packages]

pycodestyle = "*"
pytest = "*"
pylint = "*"


[requires]

python_version = "3.6"
