[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "==0.12.2"
awsebcli = "*"
click = "==6.7"
itsdangerous = "==0.24"
"jinja2" = "==2.10"
markupsafe = "==1.0"
werkzeug = "==0.14.1"


[dev-packages]

pycodestyle = "*"


[requires]

python_version = "3.6"
